html {
    background-color: #19181a;
    width: 75%;
    margin: auto;
}
p {
    color: #b19f9e;
    font-size: 30px;
}
h1{
    color: #eeeeee;
    font-size: 80px;
    text-align: center;
}
h2{
    color: #479761;
    font-size: 50px;
    text-align: center;
}
a{
    color: #eeeeee;
    font-size: 19px;
}
ul{
    color: #eeeeee;
    font-size: 20px;
}
/* stylizacja przycisków do wybrania pliku i zatwierdzenia */
button{
    display: inline-block;
    border-radius: 10px;
    border: 4px groove;
    border-color: #479761;
    color: #479761;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    background-color: transparent;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: inline-block;
    border-radius: 10px;
    border: 4px groove;
    border-color: #479761;
    color: #479761;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    content: "Wybierz plik"
}
/* Stylizacja menu*/
.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

.navigation-bar a.active {
    background-color: #479761;
    color: white;
}

.file-uploading{
    margin: auto;
    text-align: center;
}
.run-program{
    border: 1px solid #333;
    border-radius: 16px;
    padding: 10px;
    background-color: #333;
}
.footer{
    color: white;
    text-align: center;
    background-color: #479761;
}

/* Strona główna */
.flex-zakladki {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
  
.flex-zakladki > a {
    background-color: #333;
    border-radius: 16px;
    text-decoration: none;
    color: #479761;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-zakladki a:hover {
    background-color: white;
    color: #19181a;
}

.flex-podpisy {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
  
.flex-podpisy > div {
    color: white;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 21px;
    text-align: center;
    
    margin: 10px;
}

/* Tytuł i logo */
.tytullogo{
    display: flex;
    justify-content: space-around;
}

.tytullogo h1{
    margin-left: 25px;
    margin-right: 25px;
}

.tytullogo img{
    border-radius: 20px;
    margin-top: 33px;
    height: 130px;
    width: 130px;
}

/* Strona o projekcie */

.narzedzia-jezyki{
    display: flex;
}

.narzedzia-jezyki img{
    max-width: 170px;
    max-height: 170px;
    margin: 11px;
}

.narzedzia-podpisy {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 10px;
}

.narzedzia-podpisy a{
    color: #b19f9e;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.narzedzia-opisy {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    
}

.narzedzia-opisy a{
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

.krotki-opis{
    display: flex;
}

.krotki-opis img{
    max-height: 230px;
}

/* Plagiat jawny i ukryty */

.flex-plagiat {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
  
.flex-plagiat > a {
    background-color: #333;
    border-radius: 16px;
    color: #479761;
    margin: 10px;
    margin-right: 90px;
    padding: 20px;
    font-size: 30px;
}

@media screen and (max-width: 1250px) {
    .narzedzia-jezyki img {
         width: 140px;
    }
}

@media screen and (max-width: 1000px) {
    .narzedzia-jezyki img {
         width: 120px;
    }
}

@media screen and (max-width: 900px) {
    .narzedzia-jezyki img {
         width: 100px;
    }
}

@media screen and (max-width: 700px) {
    .narzedzia-jezyki img {
         width: 70px;
    }
}