body, html {
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #19181a;
    width: 90%;
    height: 100%;
    margin: auto;
}
p {
    color: #b19f9e;
    font-size: 30px;
}
h1{
    color: #eeeeee;
    font-size: 80px;
    text-align: center;
}
h2{
    color: #479761;
    font-size: 50px;
    text-align: center;
}
a{
    color: #eeeeee;
    font-size: 19px;
}
ul{
    color: #eeeeee;
    font-size: 20px;
}
/* stylizacja przycisków do wybrania pliku i zatwierdzenia */
button{
    display: inline-block;
    border-radius: 10px;
    border: 4px groove;
    border-color: #479761;
    color: #479761;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    background-color: transparent;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: inline-block;
    border-radius: 10px;
    border: 4px groove;
    border-color: #479761;
    color: #479761;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    content: "Wybierz plik"
}
/* Stylizacja menu*/
.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

.navigation-bar a.active {
    background-color: #479761;
    color: white;
}

.file-uploading{
    margin: auto;
    text-align: center;
}
.run-program{
    border: 1px solid #333;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: #333;
}
.footer{
    color: white;
    padding: 3px;
    text-align: center;
    background-color: #479761;
}

/* Strona główna */
.flex-zakladki, .flex-plagiat {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.oficjalna-strona{
    text-align: center;
    margin-top: 30px;

}


.flex-zakladki > a, .flex-plagiat > a{
    background-color:rgb(36, 36, 36);
    border-radius: 16px;
    text-decoration: none;
    color: #479761;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.flex-zakladki a:hover {
    background-color: white;
    color: #19181a;
}

.flex-podpisy, .plagiat-podpisy {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    /* margin-left: 40px; */
}

.flex-podpisy > div, .plagiat-podpisy > div {
    color: white;
    margin-bottom: 15px;
    font-size: 21px;
    text-align: center;
    margin: 10px;
}

.plagiat-podpisy > div{
    margin-left: 80px;
}

/* Tytuł i logo */
.tytullogo{
    display: flex;
    justify-content: space-around;
}

.tytullogo h1{
    margin-left: 25px;
    margin-right: 25px;
}

.tytullogo img{
    border-radius: 20px;
    margin-top: 33px;
    height: 130px;
    width: 130px;
}

/* Strona o projekcie */

.narzedzia {
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 10px;
    background-color: #333;
    margin-bottom: 30px;
    margin: auto;
}

.narzedzia-jezyki{
    display: flex;
    flex-direction: column;
}

.narzedzia-jezyki img{
    max-width: 170px;
    max-height: 170px;
    margin: 8px;
}

.narzedzia-podpisy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 20px;
}

.narzedzia-podpisy a{
    color: #b19f9e;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.narzedzia-opisy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.narzedzia-opisy a{
    font-size: 19px;
    margin: 10px;
    text-align: center;
}


.krotki-opis, .plagiat, .oficjalna-strona{
    border: 1px solid #333;
    border-radius: 16px;
    padding: 10px;
    background-color: #333;
}


/* Results */
.results {
    max-width: 100%;
}

.comparison {
    border-collapse: collapse;
    background-color: white;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    width: 98%;
}

.comparison td, .comparison th {
    border: 1px solid #479761;
    color:black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.comparison th {
    color: #b19f9e;
    padding: 20px;
}

.comparison td{
    overflow-x: auto;
}​

.formula {
    width: 25%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@media screen and (max-width: 900px) {
    .narzedzia-opisy a{
        font-size: 14px;
    }
    .plagiat-podpisy > div{
        margin-left: 40px;
    }
}