<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Skradzione Wzory</title>
    <link rel="stylesheet" href="{% static 'css/skradzionewzoryweb.css' %}">
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>

<div class="tytullogo">
    <img src="{% static 'images/skradzione-wzory-logo2.png' %}">
    <h1>Skradzione wzory</h1>
    <img src="{% static 'images/skradzione-wzory-logo.png' %}">
</div>

<div class="navigation-bar">
    {% if home %}
        <a class="active" href="{% url 'home' %}" id='main'>Strona główna</a>
        <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a href="{% url 'about' %}" id='about'>O projekcie</a>
    {% elif run %}
        <a href="{% url 'home' %}" id='main'>Strona główna</a>
        <a class='active' href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a href="{% url 'about' %}" id='about'>O projekcie</a>
    {% elif about %}
        <a href="{% url 'home' %}" id='main'>Strona główna</a>
        <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a class='active' href="{% url 'about' %}" id='about'>O projekcie</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
<div class="footer">Made with love by The Group With Electricity Problem</div>
</body>
</html>
