<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Skradzione Wzory</title>
    <link rel="stylesheet" href="{% static 'css/skradzionewzoryweb.css' %}">
</head>
<body>
<h1>Skradzione wzory</h1>
<div class="navigation-bar">
    {% if home %}
        <a class="active" href="{% url 'home' %}" id='main'>Strona główna</a>
        <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a href="{% url 'about' %}" id='about'>O projekcie</a>
    {% elif run %}
        <a href="{% url 'home' %}" id='main'>Strona główna</a>
        <a class='active' href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a href="{% url 'about' %}" id='about'>O projekcie</a>
    {% elif about %}
        <a href="{% url 'home' %}" id='main'>Strona główna</a>
        <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
        <a class='active' href="{% url 'about' %}" id='about'>O projekcie</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
<p>Stay tuned :)</p>
<div class="footer">Made with love by The Group With Electricity Problem</div>
</body>
</html>
