{% extends 'SkradzioneWzoryWeb/main.html'%}
{% block content %}


<div class="run-program">
    <h2>Wybierz plik, który chcesz sprawdzić</h2>

    <form class="file-uploading" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document" id="file" class="inputfile"/>
        <label for="file">Wybierz plik</label>
        <button type="submit">Zatwierdź</button>
    </form>
    <!-- Sprawdzam działanie dołączania danych z widoku-->
    {% comment %} <h2>
        {{ instance.list_all_files_to_compare }}
    </h2> {% endcomment %}
    {% if text %}
        <p class='info'>{{ text }}</p>
    {% endif %}
</div>
<div class="waiting">
    <div class="lds-heart"><div></div></div>
<div class="info-for-waiting">Dziękujemy za to,
    że chcesz skorzystać z naszego systemu do detekcji plagiatów w tekstach matematycznych.
    W celu sprawdzenia oryginalności pracy wybierz odpowiednik plik .tex z dysku i zatwierdź swój wybór.
    Plik zostanie przeskanowany specjalnymi algorytmami porównywującymi, dlatego sprawdzanie może potrwać kilkadziesiąt sekund.
</div><div class="lds-heart"><div></div></div>
</div>
{% endblock %}