{% extends 'SkradzioneWzoryWeb/main.html'%}
{% block content %}

<p>W tym miejscu będzie znajdować się aplikacja webowa pozwalająca wykryć plagiat w notacji matematycznej!</p>
<div class="run-program">
<h2>Wybierz plik, który chcesz sprawdzić</h2>

<form class="file-uploading" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document" id="file" class="inputfile"/>
    <label for="file">Wybierz plik</label>
    <button type="submit">Zatwierdź</button>
</form>
</div>
{% endblock %}