{% extends 'SkradzioneWzoryWeb/main.html' %}
{% block content %}

<center><p>Witamy na oficjalnej stronie naszego projektu! <br>
    Zapraszamy do odwiedzenia następujących zakładek:</p>
    <div class="flex-zakladki">
        <div>Sprawdź czy plagiat</div>
        <div>O projekcie</div>
    </div>

    <div class="flex-podpisy">
        <div>Jest to zakładka, w której znajduje się sedno naszego projektu - czyli program szukający
            plagiatów.</div>
        <div>W zakładce tej możemy znaleźć sczegółowe informacje 
            na temat projektu.</div>
    </div>

</center>




{% endblock %}


