{% extends 'SkradzioneWzoryWeb/main.html' %}
{% block content %}

<center>
    <p>Witamy na oficjalnej stronie naszego projektu! <br>
        Zapraszamy do odwiedzenia następujących zakładek:</p>
</center>
    
<div class="oficjalna-strona">
        <div class="flex-zakladki">
            {% if home %}
                <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
                <a href="{% url 'about' %}" id='about'>O projekcie</a>
            {% elif run %}
                <a class='active' href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
                <a href="{% url 'about' %}" id='about'>O projekcie</a>
            {% elif about %}
                <a href="{% url 'run' %}" id='run'>Sprawdź czy plagiat</a>
                <a class='active' href="{% url 'about' %}" id='about'>O projekcie</a>
            {% endif %}
        </div>
    
        <div class="flex-podpisy">
            <div>Jest to zakładka, w której znajduje się sedno naszego projektu - czyli program szukający
                plagiatów.</div>
            <div>W zakładce tej możemy znaleźć sczegółowe informacje 
                na temat projektu.</div>
        </div>
</div>




{% endblock %}


